<section style="position:relative; display: block; height:100vh;" *ngIf="alreadySubmitted || thankYou">
  
<div class="logo_container_new" style="width: 100%;"> <img class="logo" src="{{ logo }}" /> 
  <h1 *ngIf="thankYou && !alreadySubmitted">Thank you! Your story has been submitted for review</h1>

  <h1 *ngIf="alreadySubmitted && !thankYou">You have already submitted review for this product</h1>
</div>



  

  </section>



<section class="container" *ngIf="formAvailable && !alreadySubmitted && !thankYou">
    <div class="row">
  
  <div class="col logo_container"><img class="logo" src="{{ logo }}" /></div>
  
  <div class="col-12">
       
    <div class="form_field">
            <div class="edit-label">First Name</div>
            <input [(ngModel)]="experienceData.customer_firstname" type="text" name="firstname" value="">
          </div>
        
          <div class="form_field">
            <div class="edit-label">Product Name</div>
            <input type="hidden" name="brandProductID" value="125">
            <select name="brandProductID" disabled>
                <option *ngFor="let product of formData.request_data.products" value="{{product.product_id}}" selected="">{{product.product_name}}</option>
            </select>
      
          </div>
       
          <div class="form_field">
            <div class="edit-label">Usage Experience</div>
            <textarea [(ngModel)]="experienceData.experience" name="newStory" placeholder="Write experience (Text with auto-date)"> </textarea>
          </div>
  
          
        
                                                                    
  
  
    </div>
  </div>
  
           <div class="images-container">
              <div class="edit-label">Use the boxes below to upload images 0/4 </div>
           
      <input #file0 type="file" class="image hidden" (change)="upload($event, 'first')">
      <input #file1 type="file" class="image hidden" (change)="upload($event, 'second')">
      <input #file2 type="file" class="image hidden" (change)="upload($event, 'third')">
      <input #file3 type="file" class="image hidden" (change)="upload($event, 'fourth')">
      <div (click)="file0.click()" class="image">
        <img *ngIf="experienceData.files.first.thumb != ''" src="{{experienceData.files.first.thumb}}" />
        <div class="uploadLabel">upload image</div>
      </div>
      <div (click)="file1.click()" class="image">
        <img *ngIf="experienceData.files.second.thumb != ''" src="{{experienceData.files.second.thumb}}" />
        <div class="uploadLabel">upload image</div>
      </div>
      <div (click)="file2.click()" class="image">
        <img *ngIf="experienceData.files.third.thumb != ''" src="{{experienceData.files.third.thumb}}" />
        <div class="uploadLabel">upload image</div>
      </div>
      <div (click)="file3.click()" class="image">
        <img *ngIf="experienceData.files.fourth.thumb != ''" src="{{experienceData.files.fourth.thumb}}" />
        <div class="uploadLabel">upload image</div>
      </div>  
    </div>
  
    <div class="col-12 align-center  btn-gap">
      <button (click)="submitExperience()" class="btn btn-green">Publish experience</button>
    </div>
  
  
  
  </section>