<section class="container" >
    <div class="row">

        <h1>Merchants <span (click)="merchantTable ? merchantTable = false : merchantTable = true" class="showhide">{{ merchantTable ? 'Hide' : 'Show' }}</span></h1> 

        <table class="table" *ngIf="merchantTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Merchant</th>
                    <th scope="col">Store URL</th>
                    <th scope="col">Logo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let merchant of merchants">
                    <td>{{merchant.store_id}}</td>
                    <td>{{merchant.name}}</td>
                    <td>{{merchant.store}}</td>
                    <td><img src="{{merchant.logo ? merchant.logo : ''}}"></td>
                </tr>
            </tbody>
        </table>
        <button *ngIf="merchantTable" (click)="openMerchantForm()">add new</button>

        <div class="col-12" *ngIf="merchantFormOpened && merchantTable">

            <div class="form_field">
                <div class="edit-label">Merchant Store URL</div>
                <input [(ngModel)]="newMerchantURL" type="text" name="url" value="">
            </div>

            <div class="form_field">
                <div class="edit-label">Merchant Name</div>
                <input [(ngModel)]="newMerchantName" type="text" name="name" value="125">

            </div>


            <div class="col-12 align-center  btn-gap">
                <button (click)="addMerchant()" class="btn btn-green">Add merchant</button>
            </div>





        </div>
    </div>






</section>




<section class="container">
    <div class="row">
        <h1>Products <span (click)="productTable ? productTable = false : productTable = true" class="showhide">{{ productTable ? 'Hide' : 'Show' }}</span></h1>

        <table class="table" *ngIf="productTable">
            <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Merchant ID</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Product slug</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.product_id}}</td>
                    <td>{{product.merchant_id}}</td>
                    <td>{{product.product_name}}</td>
                    <td>{{product.slug}}</td>
                </tr>
            </tbody>
        </table>

        <button *ngIf="productTable" (click)="openProductForm()">add new</button>

        <div class="col-12" *ngIf="productFormOpened && productTable">

            <div class="form_field">
                <div class="edit-label">Select Merchant</div>
                <select [(ngModel)]="newProductMerchant" name="brandProductID">
                    <option *ngFor="let merchant of merchants" value="{{merchant.store_id}}" selected="">{{merchant.name}}</option>
                </select>

            </div>

            <div class="form_field">
                <div class="edit-label">Product Name</div>
                <input [(ngModel)]="newProductName" type="text" name="url" value="">
            </div>

            <div class="form_field">
                <div class="edit-label">Product Slug</div>
                <input [(ngModel)]="newProductSlug" type="text" name="name" value="125">

            </div>


            <div class="col-12 align-center  btn-gap">
                <button (click)="addProduct()" class="btn btn-green">Add merchant</button>
            </div>





        </div>
    </div>






</section>




<section class="container">
    <div class="row">
        <h1>Feedbacks <span (click)="feedbackTable ? feedbackTable = false : feedbackTable = true" class="showhide">{{ feedbackTable ? 'Hide' : 'Show' }}</span></h1>

        <table class="table" *ngIf="feedbackTable">
            <thead>
                <tr>
                    <th scope="col">Form</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feedback of feedbacks">
                    <td><a href="https://www.storycus.com/submit/feedback/{{feedback.token}}" target="_blank">OPEN</a></td>
                    <td>{{feedback.request_data.products[0].product_name}}</td>
                    <td>{{feedback.customer_firstname}} {{feedback.customer_lastname}}</td>
                    <td>{{feedback.status}}</td>
                </tr>
            </tbody>
        </table>

        <button *ngIf="feedbackTable" (click)="openFeedbackForm()">add new</button>

        <div class="col-12" *ngIf="feedbackFormOpened && feedbackTable">

            <div class="form_field">
                <div class="edit-label">Select Merchant</div>
                <select [(ngModel)]="newFeedbackMerchant" name="brandProductID">
                    <option *ngFor="let merchant of merchants" value="{{merchant.store_id}}" selected="">{{merchant.name}}</option>
                </select>

            </div>

            <div class="form_field">
                <div class="edit-label">Select Product</div>
                <select [(ngModel)]="newFeedbackProduct" name="brandProductID">
                    <option *ngFor="let product of products | mycountryfilter: {merchant_id: newFeedbackMerchant}" value="{{product.product_id}}" selected="">{{product.product_name}}</option>
                </select>
            </div>

            <div class="form_field">
                <div class="edit-label">Select category</div>
                <select [(ngModel)]="newFeedbackCategory" name="brandProductID">
                    <option *ngFor="let category of categories" value="{{category.store_id}}" selected="">{{category.name}}</option>
                </select>
            </div>

            <div class="form_field">
                <div class="edit-label">Customer firstname</div>
                <input [(ngModel)]="newProductSlug" type="text" name="name" value="125">

            </div>

            <div class="form_field">
                <div class="edit-label">Customer lastname</div>
                <input [(ngModel)]="newProductSlug" type="text" name="name" value="125">

            </div>


            <div class="col-12 align-center  btn-gap">
                <button (click)="addProduct()" class="btn btn-green">Add merchant</button>
            </div>





        </div>
    </div>






</section>

<div class="spacer"></div>