@font-face {
    font-family: "Futura PT";
    src: url("assets/fonts/FuturaPTMedium.otf") format("opentype");
  }
  @font-face {
    font-family: "Futura PT - Medium";
    src: url("assets/fonts/FuturaPTMedium.otf") format("opentype");
  }
  @font-face {
    font-family: "Futura PT - Book";
    src: url("assets/fonts/FuturaPTBook.otf") format("opentype");
  }
  @font-face {
    font-family: "Futura PT - Bold";
    src: url("assets/fonts/FuturaPTBold.otf") format("opentype");
  }
  .logo {
    max-width:200px;
  }
  .logo_container, .logo_container_new {
    width:100px;
    margin:0 auto;
    text-align: center;
    margin-bottom:30px;
  }
  section {
    position: relative;
    width: 1048px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .edit-label {
    color: #72747c;
    font-size: 10px;
    letter-spacing: .9em;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    padding-left:20px;
    margin-bottom:15px;
  }
  input, select, textarea {
      width: 100%;
      height: 50px;
      background: #f3f3f3 no-repeat right 15px center;
      border-radius: 25px;
      color: #1c1d22;
      border: 0;
      padding: 15px 20px;
      display: block;
      font-size: 18px;
      box-sizing: border-box;
      position:relative;
      font-weight: 300;
      outline-color: transparent;
      line-height: 21px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    height: 70px;
    width: 100%;
    font-size:18px;
    background-size: 12px auto;
    background-image: url(https://naturalave.com/images/android-arrow-dropdown.svg);
  }
  textarea {
    padding-top: 15px;
      min-height: 350px;
      overflow: hidden;
      background: white;
      border: 1px solid lightgray;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    
  }
  .form_field {
    margin-top:20px;
  }
  input {
    padding: 35px 20px;
  }
  .image {
    max-height:100px;
    max-width:22%;
    height:100px;
    position:relative;
    width:100px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    border: 1px solid lightgray; 
    background-color: #efefef;
    font-size: 60px;
    margin:5px;
    font-weight: 400;
    line-height: 27px;
    background-image: url(assets/image-placeholder.jpg);
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .uploadLabel {
    font-size: 9px;
    margin-top: 16px;
    position: absolute;
    color: gray;

    width: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .hidden {
    position: absolute; 
    left: -999em;
  }
  .images-container {
    margin-top:30px;
    margin-left:0px;
    text-align: center;;
  }
  .btn-gap {
    margin-top:20px;
    margin-bottom:80px; 
  }
  .btn-green {
    border-color: #6db439;
      background-color: #6db439;
      color: #fff;
      border-radius:25px;
      height:50px;
      width:250px;
      margin: 0 auto;
      text-transform: uppercase;
  }
  .align-center {
    text-align: center;
  }
  .container {
    padding-top:50px;
  }
h1 {
  color:#72747c;
  margin-top:20px;
  font-size:21px;
}
  .logo_container_new {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  